.main {
  width: 400px;
  margin: 0 100px auto;
  background: #fff;
  border-radius: 3px;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-messages {
  overflow-y: auto;
  height: 90vh;
}

.head {
  background: #7495d3;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.close {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.title {
  padding-left: 20px;
  flex: none;
}

.title::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: lightgreen;
  position: absolute;
  top: 19px;
  left: 15px;
}

.divider {
  margin: 30px 20px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  background: #fff;
  padding: 0 10px;
  z-index: 2;
  color: #f2f2f2;
  font-weight: 700;
}

.separator {
  width: 100%;
  height: 1px;
  background: #dddddd;
  position: relative;
  z-index: 1;
}

.bubble {
  margin-bottom: 20px;
  display: inline-block;
}

.bubble:last-child {
  margin-bottom: 0;
}

.bubble-content-left {
  padding: 10px;
  font-size: 0.8rem;
  margin-left: 20px;
  position: relative;
  display: inline-block;
}

.bubble-content-right {
  padding: 10px;
  font-size: 0.8rem;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.bubble .alert-content {
  background-color: #f6c4c2;
  padding: 10px;
  font-size: 0.8rem;
  margin-right: 20px;
  border-radius: 0px 3px 3px 3px;
  display: inline-block;
}

.bubble-content-left {
  background-color: #e7edf5;
  border-radius: 0px 3px 3px 3px;
}

.bubble-content-left::after {
  content: "";
  position: absolute;
  left: 0;
  top: 7.5px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #e7edf5;
  border-left: 0;
  border-top: 0;
  margin-top: -7.5px;
  margin-left: -5px;
}

.bubble-content-right {
  background-color: #f2f2f2;
  border-radius: 3px 0px 3px 3px;
}

.bubble-content-right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 7.5px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #f2f2f2;
  border-right: 0;
  border-top: 0;
  margin-top: -7.5px;
  margin-right: -5px;
  z-index: 2;
}

.hour {
  color: #b5adaa;
  font-size: 0.7rem;
  padding: 0 0 3px 0;
}

.bubble-left .hour {
  margin-left: 20px;
}

.bubble-right .hour {
  margin-right: 20px;
}

.bubble-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

.write-section {
  border-top: solid 1px #dddddd;
  margin: 0 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type-text {
  border: none;
  padding: 10px;
  width: 79%;
  font-size: 1rem;
}

.type-text:focus {
  outline: none;
}

.button:focus {
  outline: none;
}

.button {
  width: 20%;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  color: #7b94ce;
  font-weight: 700;
  font-size: 1rem;
  transition: transform 0.5s;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}